@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* flex-grow-0 flex-shrink-0 basis-auto bg-[#CEFFA5]  px-[2rem] py-[1.5rem]  p-[.75rem]  border-b border-solid border-black */


@layer components {

  .jobinteltitle {
    @apply text-[#100C0ACC] font-schibstedmed text-start text-[1.5rem] leading-[2rem] font-normal
  }

}

body {
  background-size: 100px 100px;
  background-color: #eafed9;
  background-image:
    linear-gradient(to right, #dff5c4 2px, transparent 1px),
    linear-gradient(to bottom, #dff5c4 2px, transparent 1px);
}

.inner-commment {
  border-left: 2px solid #000;
}

.shaddow {
  box-shadow: calc(30px * -1 - 1px) 0 0 0 #eafed9;
}

.corner::before {
  left: -23.5px;
  content: "";
  top: -5px;
  height: 35px;
  width: 23px;
  position: absolute;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 8px;
}

.swiper {
  height: 34em;
  width: 26em;
  font-size: 1.0582010582010584vw;
  margin: 0 auto;
  z-index: 1;
  padding: 0;
  position: relative;
  list-style: none;
}

.swiper-slide {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.0582010582010584vw;
  margin: 0 auto;
  justify-content: center;
  border-radius: 24px;
  position: relative;
  transition-property: transform;
  overflow: hidden;
  transform-origin: center bottom;


  background-color: #e4ece3;
}

.swiper-wrapper {
  gap: 1em;
  align-items: center;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}