@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background-size: 100px 100px;
  background-color: #eafed9;
  background-image:
    linear-gradient(to right, #dff5c4 2px, transparent 1px),
    linear-gradient(to bottom, #dff5c4 2px, transparent 1px);
}

.inner-commment {
  border-left: 2px solid #000;
}

.shaddow {
  box-shadow: calc(30px * -1 - 1px) 0 0 0 #eafed9;
}

.corner::before {
  left: -24px;
  content: "";
  top: -5px;
  height: 35px;
  width: 23px;
  position: absolute;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}